<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex bd-highlight flex-wrap">
            <div class="me-auto p-2 bd-highlight">
                <button nz-button nzType="primary" (click)="openTemplate()">
                    <span nz-icon nzType="plus"></span>
                </button>
            </div>
            <div class="bd-highlight p-2">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                    <input type="text" [(ngModel)]="searchValue" nz-input placeholder="Buscar" />
                </nz-input-group>
                <ng-template #suffixButton>
                    <button nz-button nzType="primary" (click)="search()">
                        <i nz-icon nzType="search"></i>Buscar
                    </button>
                </ng-template>
            </div>
            <div class="bd-highlight p-2">
                <button nz-button nzType="primary">
                    <i nz-icon nzType="clear" (click)="reset()"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<ng-template #drawerUser let-data let-drawerRef="drawerRef">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
        <nz-form-item>
            <nz-form-label nzRequired nzFor="nombre">Nombre</nz-form-label>
            <nz-form-control nzErrorTip="Este campo es obligatorio">
                <input id="nombre" type="text" nz-input formControlName="nombre" [ngModel]="dataForm.nombre"
                    placeholder="Escriba el nombre del usuario" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="correo">Correo</nz-form-label>
            <nz-form-control nzErrorTip="Este campo es obligatorio">
                <input id="correo" type="text" nz-input formControlName="correo" [ngModel]="dataForm.correo"
                    placeholder="Escriba el correo del usuario" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="id_tipo_usuario">Rol</nz-form-label>
            <nz-form-control nzErrorTip="Este es un campo obligatorio">
                <nz-select id="id_tipo_usuario" formControlName="id_tipo_usuario" nzPlaceHolder="Seleciona el Rol"
                    nzAllowClear nzShowSearch nzServerSearch [ngModel]="selectedTypeUser"
                    (nzOnSearch)="onSearchTypeUser($event)">
                    <ng-container *ngFor="let dataEnviroment of optionListTypeUser">
                        <nz-option *ngIf="!isLoadingTypeUser" [nzValue]="dataEnviroment.id"
                            [nzLabel]="dataEnviroment.descripcion"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="isLoadingTypeUser" nzDisabled nzCustomContent>
                        <span nz-icon nzType="loading" class="loading-icon"></span>
                        Cargando información...
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="cargo">Cargo</nz-form-label>
            <nz-form-control nzErrorTip="Este campo es obligatorio">
                <input id="cargo" type="text" nz-input formControlName="cargo" [ngModel]="dataForm.cargo"
                    placeholder="Escriba el cargo del usuario" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="telefono">Telefono</nz-form-label>
            <nz-form-control nzErrorTip="Este campo es obligatorio">
                <input id="telefono" type="text" nz-input formControlName="telefono" [ngModel]="dataForm.telefono"
                    placeholder="Escriba el telefono del usuario" />
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>
<ng-template #footerUser>
    <div style="float: right">
        <button class="me-2" nz-button (click)="close()">Cerrar</button>
        <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isSaving">Guardar</button>
    </div>
</ng-template>
<nz-table class="mt-2" #filterTable [nzData]="listOfData" nzTableLayout="fixed" [nzPageSize]="100"
    [nzScroll]="{ x: 'auto' }" [nzLoading]="isLoading">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumns;" [(nzSortOrder)]="column.sortOrder" [nzSortFn]="column.sortFn"
                [nzShowSort]="column.showSort">
                {{ column.name }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of filterTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.nombre }}</td>
            <td>{{ data.correo }}</td>
            <td>{{ data.descripcion_tipo_usuario }}</td>
            <td>{{ data.cargo }}</td>
            <td>{{ data.telefono }}</td>
            <td>
                <div class="d-flex justify-content-center flex-wrap">
                    <button nz-button nzType="primary">
                        <span nz-icon nzType="edit" (click)="openEditTemplate(data)" nz-tooltip
                            nzTooltipTitle="Editar"></span>
                    </button>
                    <nz-switch [(ngModel)]="data.activo" [nzControl]="true" (click)="changeState(data)"
                        [nzLoading]="data.loading ? true : false" nz-tooltip
                        [nzTooltipTitle]="data.activo ? 'Desactivar' : 'Activar'"></nz-switch>
                </div>
            </td>
        </tr>
    </tbody>
</nz-table>