<div class="container">
    @if (backends.length > 0 || isAddNewBackend) {
    <ng-form nz-form [formGroup]="validateFormBackend" (ngSubmit)="submitFormBackend()" nzLayout="vertical">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Este es un campo obligatorio">
                        <nz-select id="backend" nzPlaceHolder="Seleciona el backend" formControlName="id" nzAllowClear
                            nzShowSearch nzServerSearch (nzOnSearch)="onSearchBackend($event)">
                            <ng-container *ngFor="let backend of optionListBackends">
                                <nz-option *ngIf="!isLoadingBackend" [nzValue]="backend.id"
                                    [nzLabel]="backend.metodo + ' - ' + backend.nombre_backend"></nz-option>
                            </ng-container>
                            <nz-option *ngIf="isLoadingBackend" nzDisabled nzCustomContent>
                                <span nz-icon nzType="loading" class="loading-icon"></span>
                                Cargando información...
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6 col-sm-12">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Este campo es obligatorio">
                        <input id="descripcion" type="text" nz-input formControlName="descripcion"
                            placeholder="Escriba la descripción" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-12 text-center mb-4">
                <button nz-button nzType="primary" (click)="submitFormBackend()">
                    Agregar Backend
                    <span nz-icon nzType="plus"></span>
                </button>
            </div>
        </div>
    </ng-form>
    <nz-table #editRowTable nzBordered [nzData]="backends" nzTableLayout="fixed" [nzScroll]="{ x: '400px' }">
        <thead>
            <tr>
                <th [nzWidth]="widthBackend">Backend</th>
                <th [nzWidth]="widthDescription">Descripcin</th>
                <th [nzWidth]="widthAction" nzRight>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (data of editRowTable.data; track data) {
            <tr>
                @if (!editCacheTableBackends[$index].edit) {
                <td>{{ data.nombre_backend }}</td>
                <td>{{ data.descripcion }}</td>
                <td nzRight>
                    <div class="d-flex justify-content-end gap-2">
                        <button nz-button nzType="primary" nzShape="circle" (click)="startEditBackend($index)">
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                        </button>
                        <button nz-button nzType="primary" nzShape="circle" nzDanger>
                            <span nz-icon nzType="delete" nzTheme="outline" (click)="deleteBackend($index)"></span>
                        </button>
                    </div>
                </td>
                } @else {
                <td>
                    <nz-select id="backend" [(ngModel)]="editCacheTableBackends[$index].data.id_backend"
                        nzPlaceHolder="Seleciona el backend" nzAllowClear nzShowSearch
                        nzServerSearch (nzOnSearch)="onSearchBackend($event)">
                        <ng-container *ngFor="let backend of optionListBackends">
                            <nz-option *ngIf="!isLoadingBackend" [nzValue]="backend.id"
                                [nzLabel]="backend.nombre_backend"></nz-option>
                        </ng-container>
                        <nz-option *ngIf="isLoadingBackend" nzDisabled nzCustomContent>
                            <span nz-icon nzType="loading" class="loading-icon"></span>
                            Cargando información...
                        </nz-option>
                    </nz-select>
                </td>
                <td><input id="descripcion" [(ngModel)]="editCacheTableBackends[$index].data.descripcion" type="text"
                        nz-input placeholder="Escriba la descripción" /></td>
                <td nzRight>
                    <div class="d-flex justify-content-end gap-2">
                        <button nz-button nzType="primary" nzShape="circle" (click)="saveEditBackend($index)">
                            <span nz-icon nzType="save" nzTheme="outline"></span>
                        </button>
                        <button nz-button nzType="primary" nzShape="circle" nzDanger nz-popconfirm
                            nzPopconfirmTitle="¿Seguro que NO quieres guardar los cambios?"
                            (nzOnConfirm)="cancelEditBackend($index)">
                            <span nz-icon nzType="close-circle" nzTheme="outline"></span>
                        </button>
                    </div>
                </td>
                }
            </tr>
            }
        </tbody>
    </nz-table>
    } @else {
    <nz-empty *ngIf="backends.length == 0" nzNotFoundImage="..../../assets/icons/backends.avif"
        [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
        <ng-template #contentTpl>
            <span>
                No se han agregado backends
            </span>
        </ng-template>
        <ng-template #footerTpl>
            <button nz-button nzType="primary" (click)="showRefBackend()">Agregar Backends</button>
        </ng-template>
    </nz-empty>
    }
</div>