<div class="login-container">
  <img class="background-video" src="assets/fondo.jpg" />
  <div class="overlay"></div>

  <div class="login-content">
    <div class="login-card">
      <img src="assets/logo.png" alt="App Logo" class="logo" />
      <h1>Bienvenido</h1>
      <p>Conéctate fácilmente con tu cuenta corporativa</p>
      <button
        class="btn btn-primary btn-lg w-100 login-button"
        (click)="login()"
      >
        <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión
      </button>
    </div>
  </div>
</div>
