<div class="d-flex bd-highlight">
  <div class="me-auto bd-highlight">
    <button
      nzTooltipTitle="Agregar Sistema Operativo"
      nzTooltipPlacement="top"
      nz-button
      nzType="primary"
      (click)="openTemplate()"
      nz-tooltip
    >
      <span nz-icon nzType="plus">
        <span class="visually-hidden">Agregar</span>
      </span>
    </button>
  </div>
  <div class="bd-highlight">
    <div class="contenido">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
        <input
          type="text"
          [(ngModel)]="searchValue"
          nz-input
          placeholder="Buscar"
          id="buscar"
          name="buscar"
          class="input-transparente"
        />
        <label for="buscar" class="label-placeholder"> buscar </label>
      </nz-input-group>
    </div>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" (click)="search()">
        <i nz-icon nzType="search"></i>Buscar
      </button>
    </ng-template>
  </div>
  <div class="bd-highlight">
    <button
      nzTooltipTitle="Limpiar busqueda"
      nzTooltipPlacement="top"
      nz-button
      nzType="primary"
      nz-tooltip
      (click)="reset()"
    >
      <span nz-icon nzType="clear">
        <span class="visually-hidden">Limpiar busqueda</span>
      </span>
    </button>
  </div>
</div>

<ng-template #drawerOs let-data let-drawerRef="drawerRef">
  <form
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
    nzLayout="vertical"
  >
    <nz-form-item>
      <nz-form-label nzRequired nzFor="nombre"
        >Nombre del sistema operativo</nz-form-label
      >
      <nz-form-control nzErrorTip="Este campo es obligatorio">
        <input
          id="nombre"
          type="text"
          nz-input
          formControlName="nombre"
          [ngModel]="dataForm.nombre"
          placeholder="Escriba el nombre del sistema operativo"
          [appLimitChars]="100"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="version">Version</nz-form-label>
      <nz-form-control nzErrorTip="Este campo es obligatorio">
        <input
          id="version"
          type="text"
          nz-input
          formControlName="version"
          [ngModel]="dataForm.version"
          placeholder="Escriba la version del sistema operativo"
          [appLimitChars]="100"
        />
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #footerOs>
  <div style="float: right">
    <button class="me-2" nz-button (click)="close()">Cerrar</button>
    <button
      nz-button
      nzType="primary"
      (click)="submitForm()"
      [nzLoading]="isSaving"
    >
      Guardar
    </button>
  </div>
</ng-template>
<nz-table
  class="mt-2"
  #filterTable
  [nzData]="listOfData"
  nzTableLayout="fixed"
  [nzPageSize]="100"
  [nzScroll]="{ x: 'auto' }"
  [nzLoading]="isLoading"
>
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [(nzSortOrder)]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzShowSort]="column.showSort"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.nombre }}</td>
      <td>{{ data.version }}</td>
      <td>
        <div class="d-flex justify-content-evenly">
          <button
            nzTooltipTitle="Editar"
            nzTooltipPlacement="top"
            nz-button
            nzType="primary"
            nz-tooltip
            (click)="openEditTemplate(data)"
          >
            <span nz-icon nzType="edit">
              <span class="visually-hidden">Editar</span>
            </span>
          </button>
          @if (!data.loading){
          <label
            nz-checkbox
            [(ngModel)]="data.activo"
            nz-tooltip
            [nzTooltipTitle]="data.activo ? 'Desactivar' : 'Activar'"
            nzTooltipPlacement="top"
            (ngModelChange)="changeState(data)"
          >
            <span class="visually-hidden">Activar | Desactivar</span>
          </label>
          }@else {
          <button nz-button nzLoading nzType="dashed" nzShape="circle"></button>
          }
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
